<nz-layout class="home">
        <div class="inner-content">
            <div class="table-tabs">

            <app-crop-tabs></app-crop-tabs>
        </div>
        </div>
</nz-layout>
<nz-layout>

        <div nz-row>
                <div nz-col nzSpan="12"> <nz-avatar nzSize="large" nzIcon="user" style="background-color:#87d068;"></nz-avatar></div>
                <div nz-col nzSpan="12"> <nz-avatar nzSize="large" nzIcon="user" style="background-color:#362ead;"></nz-avatar></div>
        </div>


</nz-layout>